{% extends 'base.html' %}

{% block content %}
    <h1>Create a new category</h1>
    <form id="newCategoryForm" action="/create_category" method='POST'>
        Category name:
        <input type="text" name="cat_name" placeholder="required" required>
        <h4>Category by:</h4>
        Exclude explicit?<input type="checkbox" name="exclude_explicit" value="exclude">
        <br>Song length<br>
            Min length:<input type="text" name="duration_min" placeholder="mins:secs">
            Max length:<input type="text" name="duration_max" placeholder="mins:secs">
        <br>Tempo<br>
            Min tempo:<input type="text" name="tempo_min" placeholder="BPM (beats per minute)">
            Max tempo:<input type="text" name="tempo_max" placeholder="BPM (beats per minute)">
        <br>Danceability<br>
            Min danceability:
                <select name="danceability_min">
                    <option value="" selected></option>
                    {% for num in range(1,11) %}
                        <option value={{ num/10 }}>{{num}}</option>
                    {% endfor %}
                </select>
            Max danceability:
                <select name="danceability_max">
                    <option value="" selected></option>
                    {% for num in range(1,11) %}
                        <option value={{ num/10 }}>{{num}}</option>
                    {% endfor %}
                </select>
        <br>Energy level<br>
            Min energy:
                <select name="energy_min">
                    <option value="" selected></option>
                    {% for num in range(1,11) %}
                        <option value={{ num/10 }}>{{num}}</option>
                    {% endfor %}
                </select>
            Max energy:
                <select name="energy_max">
                    <option value="" selected></option>
                    {% for num in range(1,11) %}
                        <option value={{ num/10 }}>{{num}}</option>
                    {% endfor %}
                </select>
        <br>Cheerfulness<br>
            Min cheerfulness:
                <select name="valence_min">
                    <option value="" selected></option>
                    {% for num in range(1,11) %}
                        <option value={{ num/10 }}>{{num}}</option>
                    {% endfor %}
                </select>
            Max cheerfulness:
                <select name="valence_max">
                    <option value="" selected></option>
                    {% for num in range(1,11) %}
                        <option value={{ num/10 }}>{{num}}</option>
                    {% endfor %}
                </select>
        <br>
            <input type="submit" value="Create new category">
    </form>
    <!-- <script type="text/javascript" src="/static/js/create_category.js"></script> -->
{% endblock %}