{% extends 'base.html' %}

{% block content %}
    <h1>Create a new filter</h1>
    <h3>Filter by:</h3>
    <form>

        <!-- duration_min = db.Column(db.Integer)
        duration_max = db.Column(db.Integer)
        tempo_min = db.Column(db.Integer)
        tempo_max = db.Column(db.Integer)
        danceability_min = db.Column(db.Float)
        danceability_max = db.Column(db.Float)
        energy_min = db.Column(db.Float)
        energy_max = db.Column(db.Float)
        valence_min = db.Column(db.Float)
        valence_max = db.Column(db.Float)
        explicit = db.Column(db.Boolean) -->
    </form>
{% endblock %}