{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class='col-xs-12'>
            <h2>My Categories</h2>
            {% autoescape false %}
            {% if categories %}
                <div>
                    <table class='table table-responsive' id='categories-table'>
                    {% for category in categories %}
                        <tr>
                            <td data-json='{{ category.to_json() }}' data-cat-id={{category.cat_id}} class='catListing' data-toggle='modal' data-target='#viewCatModal'><a class='categoryLink' href="#">{{ category.cat_name }}</a></td>
                            <td class='glyphicon glyphicon-pencil'></td>
                            <td class='glyphicon glyphicon-trash'></td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>
                <div class='col-xs-6'>
                    <button id='newCatBtn' class='btn btn-default btn-md center-block' data-toggle='modal' data-target='#newCatModal'>Add new</button>
                </div>
            {% else %}
                You haven't created any categories yet!    
            {% endif %}
            {% endautoescape %}
        </div>
    </div>

    <!-- Modal to view category -->
    <div class='modal' id='viewCatModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 id='category-name' class='modal-header-text'></h3>
                </div>
                <div class='modal-body'>
                <div class="container-fluid">
                    <div class="row categoryRow">
                        <span class="categoryLabel">Exclude explicit?</span><span class="categoryItem" id='exclude_explicit'></span>
                    </div>
                    <div class="row categoryRow">
                        <span class="categoryLabel">Song length</span><br>
                            <span class="categoryMin">Min:<span class="categoryItem" id="min_duration_ms"></span></span>
                            Max:<span class="categoryItem" id="max_duration_ms"></span>
                    </div>
                    <div class="row categoryRow">
                        <span class="categoryLabel">Tempo</span><br>
                            <span class="categoryMin">Min:<span class="categoryItem" id="min_tempo"></span></span>
                            Max:<span class="categoryItem" id="max_tempo"></span>
                    </div>
                    <div class="row categoryRow">
                        <span class="categoryLabel">Danceability</span><br>
                            <span class="categoryMin">Min:<span class="categoryItem" id="min_danceability"></span></span>
                            Max:<span class="categoryItem" id="max_danceability"></span>
                    </div>
                    <div class="row categoryRow">
                        <span class="categoryLabel">Energy level</span><br>
                            <span class="categoryMin">Min:<span class="categoryItem" id="min_energy"></span></span>
                            Max:<span class="categoryItem" id="max_energy"></span>
                    </div>
                    <div class="row categoryRow">
                        <span class="categoryLabel">Cheerfulness</span><br>
                            <span class="categoryMin">Min:<span class="categoryItem" id="min_valence"></span></span>
                            Max:<span class="categoryItem" id="max_valence"></span>
                    </div>
                </div>
                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a id="cat-id-recommend" data-cat-id="" href=""><button type="button" class="btn btn-default">Get recommendations</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to create a new category -->
    <div class='modal' id='newCatModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close clr-form" data-dismiss="modal">&times;</button>
                    <h3 class='modal-header-text'>Create a new category</h3>
                </div>
                <div class='modal-body'>
                <div class="container-fluid">
                    <form class='form form-inline' id="newCategoryForm" action="/create_category" method='POST'>
                        <label for="formGroupCatName">Name</label>
                        <input id='formGroupCatName' type="text" name="cat_name" placeholder=" required" required>
                        <br><label for="formGroupExcludeExplicit">Exclude explicit?</label>
                        <input id=for="formGroupExcludeExplicit" type="checkbox" name="exclude_explicit" value="true">
                        <br><label for="formGroupMinDuration">Song length</label><br>
                            Min:<input id="formGroupMinDuration" type="text" name="min_duration_ms" placeholder=" mins:secs">
                            Max:<input type="text" name="max_duration_ms" placeholder=" mins:secs">
                        <br><label for="formGroupMinTempo">Tempo</label><br>
                            Min:<input id="formGroupMinTempo" type="number" name="min_tempo" placeholder=" BPM">
                            Max:<input type="number" name="max_tempo" placeholder=" BPM">
                        <br><label for="formGroupMinDanceability">Danceability</label><br>
                            Min:<input id="formGroupMinDanceability" type="number" name="min_danceability" placeholder=" percent, 1-100" pattern=[1-100]>%
                            Max:<input type="number" name="max_danceability" placeholder=" percent, 1-100" pattern=[1-100]>%
                        <br><label for="formGroupMinEnergy">Energy level</label><br>
                            Min:<input id="formGroupMinEnergy" type="number" name="min_energy" placeholder=" percent, 1-100" pattern=[1-100]>%
                            Max:<input type="number" name="max_energy" placeholder=" percent, 1-100" pattern=[1-100]>%
                        <br><label for="formGroupMinValence">Positivity<br>
                            Min:<input id="formGroupMinValence" type="number" name="min_valence" placeholder=" percent, 1-100" pattern=[1-100]>%
                            Max:<input type="number" name="max_valence" placeholder=" percent, 1-100" pattern=[1-100]>%
                        <br>      
                    </form>
                </div>
                </div>
                <div class='modal-footer'>
                    <button type="submit" class="btn btn-default" value="Submit" form='newCategoryForm'>Create new category</button>
                    <button type="button" class="btn btn-default clr-form" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to edit a category -->
    <div class='modal' id='editCatModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class='modal-header-text'>Edit category</h3>
                </div>
                <div class='modal-body'>

                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/my-categories.js"></script>
{% endblock %}