{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
    <h1>My Categories</h1>
    <button id='newCatBtn' class="btn btn-default" data-toggle='modal' data-target='#newCatModal'>Add new</button>
    <br>
    {% autoescape false %}
    {% if categories %}
        <div>
            {% for category in categories %}
                <div>
                    <span data-json='{{ category.to_json() }}' data-cat-id={{category.cat_id}} class='catListing' data-toggle='modal' data-target='#viewCatModal'>{{ category.cat_name }}</span>
                    <span class='glyphicon glyphicon-pencil'></span>
                    <span class='glyphicon glyphicon-trash'></span>
                </div>
            {% endfor %}
        </div>
        </br>
    {% else %}
        You haven't created any categories yet!    
    {% endif %}
    {% endautoescape %}
    </div>

    <!-- Modal to view category -->
    <div class='modal' id='viewCatModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 id='category-name'></h1>
                </div>
                <div class='modal-body'>
                <div class="container-fluid">
                    Exclude explicit?<span id='exclude_explicit'></span>
                        <br>Song length<br>
                            Min:<span id="min_duration_ms"></span>
                            Max:<span id="max_duration_ms"></span>
                        <br>Tempo<br>
                            Min:<span id="min_tempo"></span>
                            Max:<span id="max_tempo"></span>
                        <br>Danceability<br>
                            Min:<span id="min_danceability"></span>
                            Max:<span id="max_danceability"></span>
                        <br>Energy level<br>
                            Min:<span id="min_energy"></span>
                            Max:<span id="max_energy"></span>
                        <br>Cheerfulness<br>
                            Min:<span id="min_valence"></span>
                            Max:<span id="max_valence"></span>
                        <br>
                </div>
                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <form id='getRecommendations' action='/get_recommendations'>
                        <input id="catRecommend" name="cat_id" type="hidden" value="">
                    </form>
                    <button type="submit" class="btn btn-default" value="Submit" form='getRecommendations'>Get recommendations</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to create a new category -->
    <div class='modal' id='newCatModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close clr-form" data-dismiss="modal">&times;</button>
                    <h1>Create a new category</h1>
                </div>
                <div class='modal-body'>
                <div class="container-fluid">
                    <form id="newCategoryForm" action="/create_category" method='POST'>
                        Category name:<br>
                        <input type="text" name="cat_name" placeholder="required" required>
                        Exclude explicit?<input type="checkbox" name="exclude_explicit" value="true">
                        <br>Song length<br>
                            Min:<input type="text" name="min_duration_ms" placeholder="mins:secs">
                            Max:<input type="text" name="max_duration_ms" placeholder="mins:secs">
                        <br>Tempo<br>
                            Min:<input type="number" name="min_tempo" placeholder="BPM (beats per minute)">
                            Max:<input type="number" name="max_tempo" placeholder="BPM (beats per minute)">
                        <br>Danceability<br>
                            Min:<input type="number" name="min_danceability" placeholder="percent, 1-100" pattern=[1-100]>%
                            Max:<input type="number" name="max_danceability" placeholder="percent, 1-100" pattern=[1-100]>%
                        <br>Energy level<br>
                            Min:<input type="number" name="min_energy" placeholder="percent, 1-100" pattern=[1-100]>%
                            Max:<input type="number" name="max_energy" placeholder="percent, 1-100" pattern=[1-100]>%
                        <br>Cheerfulness<br>
                            Min:<input type="number" name="min_valence" placeholder="percent, 1-100" pattern=[1-100]>%
                            Max:<input type="number" name="max_valence" placeholder="percent, 1-100" pattern=[1-100]>%
                        <br>      
                    </form>
                </div>
                </div>
                <div class='modal-footer'>
                    <button type="submit" class="btn btn-default" value="Submit" form='newCategoryForm'>Create new category</button>
                    <button type="button" class="btn btn-default clr-form" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to edit a category -->
    <div class='modal' id='editCatModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Edit category</h1>
                </div>
                <div class='modal-body'>

                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/my-categories.js"></script>
{% endblock %}