{% extends 'base.html' %}

{% block content %}
    <h1>My Categories</h1>
    <button id='newCatBtn' class="btn btn-default" data-toggle='modal' data-target='#newCatModal'>Add new</button>
    <br>
    {% autoescape false %}
    {% if categories %}
        <div>
            {% for category in categories %}
                <div data-json='{{ category.to_json() }}' data-cat-id={{category.cat_id}} class='catListing' data-toggle='modal' data-target='#viewCatModal'>{{ category.cat_name }}</a></div>
            {% endfor %}
        </div>
        </br>
    {% else %}
        You haven't created any categories yet!    
    {% endif %}
    {% endautoescape %}

    <!-- Modal to view category -->
    <div class='modal' id='viewCatModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 id='category-name'>Here's a category!</h1>
                </div>
                <div class='modal-body'>
                    Exclude explicit?<span id='exclude_explicit'>No</span>
                        <br>Song length<br>
                            Min:<span id="duration_min">None</span>
                            Max:<span id="duration_max">None</span>
                        <br>Tempo<br>
                            Min:<span id="tempo_min">None</span>
                            Max:<span id="tempo_max">None</span>
                        <br>Danceability<br>
                            Min:<span id="danceability_min">None</span>
                            Max:<span id="danceability_max">None</span>
                        <br>Energy level<br>
                            Min:<span id="energy_min">None</span>
                            Max:<span id="energy_max">None</span>
                        <br>Cheerfulness<br>
                            Min:<span id="valence_min">None</span>
                            Max:<span id="valence_max">None</span>
                        <br>
                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal to create a new category -->
    <div class='modal' id='newCatModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Create a new category</h1>
                </div>
                <div class='modal-body'>
                    <form id="newCategoryForm" action="/create_category" method='POST'>
                        Category name:<br>
                        <input type="text" name="cat_name" placeholder="required" required>
                        Exclude explicit?<input type="checkbox" name="exclude_explicit" value="exclude">
                        <br>Song length<br>
                            Min:<input type="text" name="duration_min" placeholder="mins:secs">
                            Max:<input type="text" name="duration_max" placeholder="mins:secs">
                        <br>Tempo<br>
                            Min:<input type="number" name="tempo_min" placeholder="BPM (beats per minute)">
                            Max:<input type="number" name="tempo_max" placeholder="BPM (beats per minute)">
                        <br>Danceability<br>
                            Min:<input type="number" name="danceability_min" placeholder="percent, 1-100" pattern=[1-100]>%
                            Max:<input type="number" name="danceability_max" placeholder="percent, 1-100" pattern=[1-100]>%
                        <br>Energy level<br>
                            Min:<input type="number" name="energy_min" placeholder="percent, 1-100" pattern=[1-100]>%
                            Max:<input type="number" name="energy_max" placeholder="percent, 1-100" pattern=[1-100]>%
                        <br>Cheerfulness<br>
                            Min:<input type="number" name="valence_min" placeholder="percent, 1-100" pattern=[1-100]>%
                            Max:<input type="number" name="valence_max" placeholder="percent, 1-100" pattern=[1-100]>%
                        <br>      
                    </form>
                </div>
                <div class='modal-footer'>
                    <button type="submit" class="btn btn-default" value="Submit" form='newCategoryForm'>Create new category</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal to edit a category -->
    <div class='modal' id='editCatModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Edit category</h1>
                </div>
                <div class='modal-body'>

                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/my-categories.js"></script>
{% endblock %}