{% extends 'base.html' %}

{% block content %}
    <h1>{{ playlist.name }}</h1>
    <div class="container-fluid">
    {% if playlist_tracks %}
    <div class='container-fluid'>
        <div class="dropdown">
          <button class="btn btn-default pull-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
            <li><a href="#" id='activateDelete'>Delete Songs</a></li>
            <li><a href="#" id='showHideColumnsBtn' data-toggle='modal' data-target='#showHideColumnsModal'>Customize View</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Show category label</li>
                {% for category in user_categories %}
                    <li><a href="#" class='selected-cat' data-cat-id={{ category.cat_id }}>{{ category.cat_name }}</a></li>
                {% endfor %}
                <li><a href="#" id='clear-cat'>(Hide)</a></li>
          </ul>
        </div>
        <button id='saveChanges' class="btn btn-default pull-right" data-playlist-id={{ playlist.playlist_id }}>Save Changes</button>
        <button id='saveDelete' class="btn btn-default pull-right" data-playlist-id={{ playlist.playlist_id }}>Delete Tracks</button>
    </div>

        <div class="container-fluid">
            <table id='playlistTable'>
                <thead>
                <tr>
                    <th class='select-delete default-show-col'><input id='select-all-delete' type='checkbox'></th>
                    <th class='track-title default-show-col'>TITLE</th>
                    <th class='track-artist default-show-col'>ARTIST</th>
                    <th class='track-album default-hide-col'>ALBUM</th>
                    <th class='track-duration-ms default-show-col'>DURATION</th>
                    <th class='track-tempo default-show-col'>BPM</th>
                    <th class='track-danceability default-hide-col'>DANCEABILITY</th>
                    <th class='track-energy default-hide-col'>ENERGY</th>
                    <th class='track-valence default-hide-col'>CHEERFULNESS</th>
                    <th class='track-is-explicit default-hide-col'>EXPLICIT?</th>
                    <th class='track-category default-hide-col'>CATEGORIES</th>
                </tr>
                </thead>
                <tbody id="tracksTable" data-playlist-id={{ playlist.playlist_id }}>
                    {% for item in playlist_tracks %}
                        <tr class='track' data-track-id={{ item.track.track_id }} data-pt-id={{ item.pt_id }} data-position={{ item.position }}>
                            <td class='select-delete default-show-col'><input class='selected-track-delete' type='checkbox' value={{ item.track.track_id }}></td>
                            <td class='track-title default-show-col' data-track-title={{ item.track.title }}>{{ item.track.title }}</td>
                            <td class='track-artist default-show-col' data-track-artist={{ item.track.artist }}>{{ item.track.artist }}</td>
                            <td class='track-album default-hide-col' data-track-album={{ item.track.album }}>{{ item.track.album }}</td>
                            <td class='track-duration-ms default-show-col' data-track-duration-ms={{ item.track.duration_ms }}>{{ item.track.to_mins_secs(item.track.duration_ms) }}</td>
                            <td class='track-tempo default-show-col' data-track-tempo={{ item.track.tempo }}>{{ item.track.tempo }}</td>
                            <td class='track-danceability default-hide-col' data-track-danceability={{ item.track.danceability }}>{{ item.track.to_percentage(item.track.danceability) }}</td>
                            <td class='track-energy default-hide-col' data-track-energy={{ item.track.energy }}>{{ item.track.to_percentage(item.track.energy) }}</td>
                            <td class='track-valence default-hide-col' data-track-valence={{ item.track.valence }}>{{ item.track.to_percentage(item.track.valence) }}</td>
                            <td class='track-is-explicit default-hide-col' data-track-is-explicit={{ item.track.is_explicit }}>{{ item.track.view_is_explicit() }}</td>
                            <td class="track-category default-hide-col"></td>
                        </tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>
    {% else %}
        This playlist is empty!
    {% endif %}
    </div>

    <!-- Modal show/hide columns -->
    <div class='modal' id='showHideColumnsModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Select columns to view</h1>
                </div>
                <div class='modal-body'>
                    <input class='column-checkbox default-checked' type='checkbox' name='column-name' value='track-title' checked>Title<br>
                    <input class='column-checkbox default-checked' type='checkbox' name='column-name' value='track-artist' checked>Artist<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-album'>Album<br>
                    <input class='column-checkbox default-checked' type='checkbox' name='column-name' value='track-duration-ms' checked>Duration<br>
                    <input class='column-checkbox default-checked' type='checkbox' name='column-name' value='track-tempo' checked>BPM<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-danceability'>Danceability<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-energy'>Energy<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-valence'>Cheerfulness<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-is-explicit'>Explicit?
                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" id='reset-columns'>Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/show-category-labels.js"></script>
    <script type="text/javascript" src="/static/js/show-hide-columns.js"></script>
    <script type="text/javascript" src="/static/js/reorder-tracks.js"></script>
    <script type="text/javascript" src="/static/js/delete-add-tracks.js"></script>
    <script type="text/javascript" src="/static/js/push-changes-to-spotify.js"></script>
{% endblock %}