{% extends 'base.html' %}

{% block content %}
    <h1>Profile page</h1>
    Hi {{ user.display_name }}!</br>
    
    <div id="root"></div>

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="http://unpkg.com/babel-standalone"></script>

    <script src="static/js/profile-page.jsx" type="text/jsx"></script>
    <script src="static/js/load-db-playlists-page.jsx" type="text/jsx"></script>
    <script src="static/js/load-sp-playlists-page.jsx" type="text/jsx"></script>
{% endblock %}