{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class='col-xs-12'>
            <h2>Recommendations based on {{ category.cat_name }}</h2>
        </div>
    
    
    {% if recommended_tracks %}
        <div class='container-fluid'>
            <div>
              <button class="btn btn-default pull-right" id='showHideColumnsBtn' data-toggle='modal' data-target='#showHideColumnsModal'>
                Customize View
              </button>
            </div>

            <div id="selectPlaylist" class="dropdown">
              <button class="btn btn-default dropdown-toggle pull-right view-action-btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Add to playlist
                <span class="caret"></span>
              </button>
              <ul id='addToPlaylistDropdown' class="dropdown-menu dropdown-menu-right pull-right" aria-labelledby="dLabel">
                {% for playlist in user_playlists %}
                    <li><a href="#" class='addToPlaylist' data-playlist-id={{ playlist.playlist_id}} data-sp-playlist-id={{ playlist.sp_playlist_id }} data-playlist-name={{ playlist.name }}>{{ playlist.name }}</a></li>
                {% endfor %}
              </ul>
            </div>
        </div>

        <div class='container-fluid'>
            <table class='table table-responsive' id='recommendationsTable'>
                <thead>
                <tr>
                    <th class='select-add default-show-col'><input id='select-all-add' type='checkbox'></th>
                    <th class='track-title default-show-col'>TITLE</th>
                    <th class='track-artist default-show-col'>ARTIST</th>
                    <th class='track-album default-hide-col'>ALBUM</th>
                    <th class='track-duration-ms default-show-col'>DURATION</th>
                    <th class='track-tempo default-show-col'>BPM</th>
                    <th class='track-danceability default-hide-col'>DANCEABILITY</th>
                    <th class='track-energy default-hide-col'>ENERGY</th>
                    <th class='track-valence default-hide-col'>POSITIVITY</th>
                    <th class='track-is-explicit default-hide-col'>EXPLICIT?</th>
                </tr>
                </thead>
                <tbody id="tracksTable"}}>
                    {% for track in recommended_tracks %}
                        <tr class='track' data-track-id={{ track.track_id }}>
                            <td class='select-add default-show-col'><input class='selected-track-add' type='checkbox' value={{ track.track_id }}></td>
                            <td class='track-title default-show-col' data-track-title={{ track.title }}>{{ track.title }}</td>
                            <td class='track-artist default-show-col' data-track-artist={{ track.artist }}>{{ track.artist }}</td>
                            <td class='track-album default-hide-col' data-track-album={{ track.album }}>{{ track.album }}</td>
                            <td class='track-duration-ms default-show-col' data-track-duration-ms={{ track.duration_ms }}>{{ track.to_mins_secs(track.duration_ms) }}</td>
                            <td class='track-tempo default-show-col' data-track-tempo={{ track.tempo }}>{{ track.tempo }}</td>
                            <td class='track-danceability default-hide-col' data-track-danceability={{ track.danceability }}>{{ track.to_percentage(track.danceability) }}</td>
                            <td class='track-energy default-hide-col' data-track-energy={{ track.energy }}>{{ track.to_percentage(track.energy) }}</td>
                            <td class='track-valence default-hide-col' data-track-valence={{ track.valence }}>{{ track.to_percentage(track.valence) }}</td>
                            <td class='track-is-explicit default-hide-col' data-track-is-explicit={{ track.is_explicit }}>{{ track.view_is_explicit() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>
    {% else %}
        No recommendations available for this category
    {% endif %}
    </div>
    </div>
    <!-- Modal show/hide columns -->
    <div class='modal' id='showHideColumnsModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2>Select columns to view</h2>
                </div>
                <div class='modal-body'>
                    <input class='column-checkbox default-checked' type='checkbox' name='column-name' value='track-title' checked>Title<br>
                    <input class='column-checkbox default-checked' type='checkbox' name='column-name' value='track-artist' checked>Artist<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-album'>Album<br>
                    <input class='column-checkbox default-checked' type='checkbox' name='column-name' value='track-duration-ms' checked>Duration<br>
                    <input class='column-checkbox default-checked' type='checkbox' name='column-name' value='track-tempo' checked>BPM<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-danceability'>Danceability<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-energy'>Energy<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-valence'>Positivity<br>
                    <input class='column-checkbox default-unchecked' type='checkbox' name='column-name' value='track-is-explicit'>Explicit?
                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" id='reset-columns'>Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirm add to playlist -->
    <div class='modal' id='confirmAddtoPlaylistModal' role='dialog'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2>Songs added</h2>
                </div>
                <div class='modal-body'>
                    <span id='numTracksAdded'></span> tracks have been added to<a id='linkPlaylistAdded' href=""></a>
                </div>
                <div class='modal-footer'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>    
    <script type="text/javascript" src="/static/js/show-hide-columns.js"></script>
    <script type="text/javascript" src="/static/js/add-tracks.js"></script>
{% endblock %}